In [56]:
# Data science
import pandas as pd

In [57]:
# Read the CSV file
airline = pd.read_csv('Airline_Reviews.csv')

In [58]:
airline.head()

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [59]:
#Drop the unnecessary columns
airline.drop(["Review_Title", "Review Date", "Verified", "Review", "Aircraft"], axis=1, inplace=True)

In [60]:
airline.head()

,Unnamed: 0,Airline Name,Overall_Rating,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,AB Aviation,1,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,2,AB Aviation,1,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,3,Adria Airways,1,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,4,Adria Airways,1,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no

In [61]:
airline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              23171 non-null  int64
 1   Airline Name            23171 non-null  object
 2   Overall_Rating          23171 non-null  object
 3   Type Of Traveller       19433 non-null  object
 4   Seat Type               22075 non-null  object
 5   Route                   19343 non-null  object
 6   Date Flown              19417 non-null  object
 7   Seat Comfort            19016 non-null  float64
 8   Cabin Staff Service     18911 non-null  float64
 9   Food & Beverages        14500 non-null  float64
 10  Ground Service          18378 non-null  float64
 11  Inflight Entertainment  10829 non-null  float64
 12  Wifi & Connectivity     5920 non-null   float64
 13  Value For Money         22105 non-null  float64
 14  Recommended             23171 non-null  object
dtypes: float64(7), int64(1), object(7)
memory usage: 2.7+ MB

In [62]:
# Replace the NaN, with 0, mean non applicable
columns_to_replace = ['Inflight Entertainment', 'Wifi & Connectivity', 'Food & Beverages']

airline[columns_to_replace] = airline[columns_to_replace].fillna(1)

In [63]:
airline_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7129 entries, 1 to 23169
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              7129 non-null   int64
 1   Airline Name            7129 non-null   object
 2   Overall_Rating          7129 non-null   object
 3   Aircraft                7129 non-null   object
 4   Type Of Traveller       7129 non-null   object
 5   Seat Type               7129 non-null   object
 6   Route                   7122 non-null   object
 7   Date Flown              7122 non-null   object
 8   Seat Comfort            7029 non-null   float64
 9   Cabin Staff Service     7014 non-null   float64
 10  Food & Beverages        5885 non-null   float64
 11  Ground Service          7073 non-null   float64
 12  Inflight Entertainment  3919 non-null   float64
 13  Wifi & Connectivity     1864 non-null   float64
 14  Value For Money         7129 non-null   float64
 15  Recommended             7129 non-null   object
dtypes: float64(7), int64(1), object(8)
memory usage: 946.8+ KB